<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>select</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <span class="face-select">
        <span class="face-select-view">
            <span class="face-select-view-value">Nimo</span>
        </span>
        <span class="face-select-switch">
            <span class="fi fi-down"></span>
        </span>
    </span>
    <hr>
    <span class="face-select">
        <span class="face-select-view">
            <input class="face-select-view-input" value="Nimo" />
        </span>
        <span class="face-select-switch">
            <span class="fi fi-down"></span>
        </span>
    </span>
</body>
</html>
