@import "./settings.less";
.@{face-input-prefix} {
    background-color:white;
    position: relative;
}
.@{face-input-prefix}-inner {
    width: 100%;
    display: table;
    border-collapse:collapse;
    color:@face-font-color;
    vertical-align: middle;
}
    .@{face-input-prefix}--error {
        .@{face-input-prefix}-input {
            border-color:@face-input-error-color;
            &:focus{
                outline: none;
                box-shadow: 0 0 0 0.125em lighten(@face-input-error-color, 35%);
                border-color:@face-input-error-color;
            }
        }
    }
.@{face-input-prefix}-input,
.@{face-input-prefix}-textarea {
    width: 100%;
    position: relative;
    z-index: 2;
    display: table-cell;
    border:1px solid @face-input-border-color;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    line-height: @face-input-line-height;
    border-radius: @face-input-border-radius;
    padding-left: @face-input-side-padding;
    padding-right: @face-input-side-padding;
    background: transparent;
    transition: box-shadow .3s;
    box-shadow:inset 0 1px 2px rgba(27,31,35,0.035);
    color:@face-input-text-color;
    &::placeholder {
        color: @face-input-placeholder-font-color;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0 0.125em @face-input-focus-color;
        border-color:@face-input-focus-border-color;
    }
}

    .@{face-input-prefix}--textarea-autosize {
        .@{face-input-prefix}-textarea {
            position: absolute;
            z-index: 2;
            top:0;
            bottom:0;
            left:0;
            right:0;
            height: 100%;
        }
        .@{face-input-prefix}-asyncValue {
            line-height: 1.8em;
            padding: 0;
            margin: 0;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
        }
    }
.@{face-input-prefix}--prepend {
    .@{face-input-prefix}-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.@{face-input-prefix}-prepend {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 1px;
    position: relative;
}
.@{face-input-prefix}-prepend-wrap {
    margin-right: -1px;
    border-top-left-radius: @face-input-border-radius;
    border-bottom-left-radius: @face-input-border-radius;
}
.@{face-input-prefix}-append-wrap {
    margin-right: -1px;
    border-top-right-radius: @face-input-border-radius;
    border-bottom-right-radius: @face-input-border-radius;
}

.@{face-input-prefix}-prepend-wrap,
.@{face-input-prefix}-append-wrap {
    display: block;
    line-height: @face-input-line-height;
    background: #fafafa;;
    border:1px solid @face-input-border-color;
}
.@{face-input-prefix}-prepend-wrap-content,
.@{face-input-prefix}-append-wrap-content {
    padding-left: .4em;
    padding-right: .4em;
}

.@{face-input-prefix}--append {
    .@{face-input-prefix}-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.@{face-input-prefix}-append {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 1px;
    position: relative;
}
.@{face-input-prefix}-append-wrap {
    margin-left: -1px;
}

.@{face-input-prefix}-prepend-wrap-content
.@{face-input-prefix}-append-wrap-content {
    padding-left: .4em;
    padding-right: .4em;
}



.@{face-input-prefix}--large {
    font-size: 1.2em;
}
.@{face-input-prefix}--small {
    font-size: 0.8em;
}
.@{face-input-prefix}--append-ghost {
    .@{face-input-prefix}-input {
        padding-right: 0;
        border-right:none;
        border-top-right-radius: @face-input-border-radius;
        border-bottom-right-radius: @face-input-border-radius;
    }
    .@{face-input-prefix}-append-wrap {
        background: transparent;
        border-left: none;
    }
}

.@{face-input-prefix}--prepend-ghost {
    .@{face-input-prefix}-input {
        padding-left: 0;
        border-left:none;
        border-top-left-radius: @face-input-border-radius;
        border-bottom-left-radius: @face-input-border-radius;
    }
    .@{face-input-prefix}-prepend-wrap {
        background: transparent;
        border-right: none;
    }
}
.@{face-input-prefix}--full-outline {
    border:1px solid @face-input-border-color;
    border-radius: @face-input-border-radius;

    .@{face-input-prefix}-input {
        border: none;
    }
    .@{face-input-prefix}-prepend-wrap {
        border-top:none;
        border-left:none;
        border-bottom:none;
    }
    .@{face-input-prefix}-append-wrap {
        border-top:none;
        border-right:none;
        border-bottom:none;
    }
}
html .@{face-input-prefix}--full-outline.@{face-input-prefix}--focus{
    border-color: @face-input-focus-border-color;
    box-shadow: 0 0 0 0.125em @face-input-focus-color;
    .@{face-input-prefix}-input:focus{
        box-shadow: none;
        border:none;
    }
}
.@{face-input-prefix}--button {

    .@{face-input-prefix}-append-wrap {
        border: none;
        line-height: 1;
    }
    .@{face-input-prefix}-prepend-wrap {
        border-right: 1px solid @face-input-border-color;
    }

    .@{face-input-prefix}-append-wrap-content {
        padding: 0;
    }
    .@{face-input-prefix}-append-wrap-content {
        border-top-right-radius: 0px;
    }
}
.@{face-input-prefix}--button-ghost {
    .@{face-input-prefix}-append-wrap {
        background: transparent;
    }
    .@{face-input-prefix}-append-wrap-content-btn {
        background: transparent;
        box-shadow: none;
        color:@face-input-text-color;
    }
    .@{face-input-prefix}-append-wrap-content-btn--clicked:before  {
        display: none;
    }
}
@keyframes faceInputSearchShadowEffect {
  to {
    opacity: 0;
    top: -0.3em;
    left: -0.3em;
    bottom: -0.3em;
    right: -0.3em;
    border-width: 0.3em;
  }
}
.@{face-input-prefix}-append-wrap-content-btn {
    padding:0;
    border: none;
    outline: none;
    display: inline-block;
    background-color: @face-input-btn--primary-color;
    line-height: 1.8em;
    color:white;
    padding-left: .4em;
    padding-right: .4em;
    box-shadow:0px 0px 0px 1px @face-input-btn--primary-color;
    border-top-right-radius: @face-input-border-radius;
    border-bottom-right-radius: @face-input-border-radius;
    cursor: pointer;
}
.@{face-input-prefix}-append-wrap-content-btn--clicked&:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: inherit;
  border: 0 solid darken(@face-input-search-bg-color, 20%);
  opacity: 0.5;
    animation: faceInputSearchShadowEffect .4s;
  display: block;
}
