@import "./settings.less";
.@{face-input-prefix} {
    background-color:white;
}
.@{face-input-prefix}-inner {
    width: 100%;
    display: table;
    border-collapse:collapse;
    color:@face-font-color;
    vertical-align: middle;
}
    .@{face-input-prefix}--error {
        .@{face-input-prefix}-input {
            border-color:@face-input-error-color;
            &:focus{
                outline: none;
                box-shadow: 0 0 0 0.125em lighten(@face-input-error-color, 35%);
                border-color:@face-input-error-color;
            }
        }
    }
.@{face-input-prefix}-input {
    width: 100%;
    position: relative;
    z-index: 2;
    display: table-cell;
    border:1px solid @face-input-border-color;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    line-height: @face-input-line-height;
    border-radius: @face-input-border-radius;
    padding-left: @face-input-side-padding;
    padding-right: @face-input-side-padding;
    background: transparent;
    transition: box-shadow .3s;
    box-shadow: 0 0 0 0 transparent;
    color:@face-input-text-color;
    &::placeholder {
        color: @face-input-placeholder-font-color;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0 0.125em @face-input-focus-color;
        border-color:@face-input-focus-border-color;
    }
}
.@{face-input-prefix}--prepend {
    .@{face-input-prefix}-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.@{face-input-prefix}-prepend {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 1px;
    position: relative;
}
.@{face-input-prefix}-prepend-wrap {
    display: block;
    margin-right: -1px;
    line-height: @face-input-line-height;
    background-color: @face-input-default-bg-color;
    border:1px solid @face-input-border-color;
    border-top-left-radius: @face-input-border-radius;
    border-bottom-left-radius: @face-input-border-radius;
}
.@{face-input-prefix}-prepend-wrap-content {
    padding-left: .4em;
    padding-right: .4em;
}
.@{face-input-prefix}--append {
    .@{face-input-prefix}-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.@{face-input-prefix}-append {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 1px;
    position: relative;
}
.@{face-input-prefix}-append-wrap {
    display: block;
    margin-left: -1px;
    line-height: @face-input-line-height;
    background-color: @face-input-default-bg-color;
    border:1px solid @face-input-border-color;
    border-top-right-radius: @face-input-border-radius;
    border-bottom-right-radius: @face-input-border-radius;
}
.@{face-input-prefix}-append-wrap-content {
    padding-left: .4em;
    padding-right: .4em;
}


.@{face-input-prefix}-search {
    border:1px solid @face-input-border-color;
    border-radius: @face-input-border-radius;
    transition: box-shadow .3s;
}
.@{face-input-prefix}-search-inner {
    width: 100%;
    display: table;
    border-collapse:collapse;
    color:@face-font-color;
    vertical-align: middle;
}
.@{face-input-prefix}-search-input {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    outline: none;

}
.@{face-input-prefix}-search-input-input {
    width: 100%;
    display: block;
    padding: 0;
    border: none;
    outline: none;
    line-height: @face-input-line-height;
    background: none;
    padding-left: @face-input-side-padding;
    padding-right: @face-input-side-padding;
    color:@face-input-text-color;
}
.@{face-input-prefix}-search-submit {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 1px;
    position: relative;

}
@keyframes faceInputSearchShadowEffect {
  to {
    opacity: 0;
    top: -0.3em;
    left: -0.3em;
    bottom: -0.3em;
    right: -0.3em;
    border-width: 0.3em;
  }
}
.@{face-input-prefix}-search-submit-submit {
    cursor: pointer;
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    border: none;
    line-height: @face-input-line-height;
    padding-left: .5em;
    padding-right: .5em;
    background: none;
    border-top-right-radius: @face-input-border-radius;
    border-bottom-right-radius: @face-input-border-radius;
    box-shadow: 0px 0px 0px 1px @face-input-search-bg-color;
    background-color: @face-input-search-bg-color;
    color:@face-input-search-font-color;
    outline: none;
    transform: opacity .3s;
}
html .@{face-input-prefix}-search-submit-submit {
    -webkit-appearance: none;
}
/*ant-design/blob/master/components/button/style/index.less#L134*/
.@{face-input-prefix}-search-submit-submit--clicked:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: inherit;
  border: 0 solid darken(@face-input-search-bg-color, 20%);
  opacity: 0.5;
    animation: faceInputSearchShadowEffect .4s;
  display: block;
}

.@{face-input-prefix}-search--focus {
    box-shadow: 0 0 0 0.125em @face-input-focus-color;
    border-color:@face-input-focus-border-color;
}

.@{face-input-prefix}-search--ghost {
    .@{face-input-prefix}-search-submit-submit {
        background: transparent;
        border: none;
        box-shadow: none;
        color:@face-input-text-color;
        opacity: .7;
    }
    .@{face-input-prefix}-search-submit-submit--clicked {
        opacity: 1;
        &:before {
            display: none;
        }
    }
}

.@{face-input-prefix}--large {
    font-size: 1.2em;
}
.@{face-input-prefix}--small {
    font-size: 0.8em;
}
.@{face-input-prefix}--append-ghost {
    .@{face-input-prefix}-input {
        padding-right: 0;
        border-right:none;
        border-top-right-radius: @face-input-border-radius;
        border-bottom-right-radius: @face-input-border-radius;
    }
    .@{face-input-prefix}-append-wrap {
        background: transparent;
        border-left: none;
    }
}

.@{face-input-prefix}--prepend-ghost {
    .@{face-input-prefix}-input {
        padding-left: 0;
        border-left:none;
        border-top-left-radius: @face-input-border-radius;
        border-bottom-left-radius: @face-input-border-radius;
    }
    .@{face-input-prefix}-prepend-wrap {
        background: transparent;
        border-right: none;
    }
}
.@{face-input-prefix}--ghost {
    border:1px solid @face-input-border-color;
    border-radius: @face-input-border-radius;

    .@{face-input-prefix}-input,
    .@{face-input-prefix}-prepend-wrap,
    .@{face-input-prefix}-append-wrap {
        border: none;
    }
}
html .@{face-input-prefix}--ghost.@{face-input-prefix}--focus{
    border-color: @face-input-focus-border-color;
    box-shadow: 0 0 0 0.125em @face-input-focus-color;
    .@{face-input-prefix}-input:focus{
        box-shadow: none;
        border:none;
    }
}
