@face-input-prefix: face-input;
@face-input-text-color: rgba(0, 0, 0, 0.65);
@face-input-border-color: #dcdcdc;
@face-input-line-height: 1.8;
@face-input-border-radius: .18em;
@face-input-side-padding: .5em;
@face-font-color: rgba(1,1,1,.65);
@face-input-placeholder-font-color: rgba(1,1,1,.4);
@face-input-focus-color:rgba(98, 164, 239, 0.3);
@face-input-search-bg-color:#4a99f3;
@face-input-search-font-color:white;
@face-input-error-color: #F52231;
@face-input-default-bg-color: #fafafa;
@face-input-focus-border-color: #4a99f3;
@face-input-primary-color: #4387fd;
