<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tabs</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <h2>smiple</h2>
    <div class="face-tabs face-tabs--simple">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        Tab 1
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        Tab 2
                    </span><span class="face-tabs-bar-nav-tab">
                        Tab 3
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
    <h2>simple icon</h2>
    <div class="face-tabs face-tabs--simple">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-github"></span>
                        </span>
                        Github
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-google"></span>
                        </span>
                        Google
                    </span><span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-empire"></span>
                        </span>
                        Empire
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
    <h2>card</h2>
    <div class="face-tabs face-tabs--card">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        Tab 1
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        Tab 2
                    </span><span class="face-tabs-bar-nav-tab">
                        Tab 3
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
    <h2>card icon</h2>
    <div class="face-tabs face-tabs--card">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-github"></span>
                        </span>
                        Github
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-google"></span>
                        </span>
                        Google
                    </span><span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-facebook"></span>
                        </span>
                        Facebook
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
    <h2>box</h2>
    <div class="face-tabs face-tabs--box">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        Github
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        Google
                    </span><span class="face-tabs-bar-nav-tab">
                        Facebook
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
    <h2>box icon</h2>
    <div class="face-tabs face-tabs--box">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-github"></span>
                        </span>
                        Github
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-google"></span>
                        </span>
                        Google
                    </span><span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-facebook"></span>
                        </span>
                        Facebook
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
    <h2>content-compact</h2>
    <div class="face-tabs face-tabs--box face-tabs--content-compact">
        <div class="face-tabs-bar">
            <div class="face-tabs-F-scroll">
                <div class="face-tabs-bar-nav">
                    <span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-github"></span>
                        </span>
                        Github
                    </span><span class="face-tabs-bar-nav-tab face-tabs-bar-nav-tab--on">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-google"></span>
                        </span>
                        Google
                    </span><span class="face-tabs-bar-nav-tab">
                        <span class="face-tabs-bar-nav-tab-icon">
                            <span class="fi fi-facebook"></span>
                        </span>
                        Facebook
                    </span>
                </div>
            </div>
        </div>
        <div class="face-tabs-content">
            <div class="face-tabs-content-item">
                Content 1
            </div>
        </div>
    </div>
</body>
</html>
