@import './settings.less';
@import './extend.less';


.@{prefix} {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .1875em;
    margin-left: .1875em;
    cursor: pointer;
    position: relative;
    .faceRadioAnimation();

}
.@{prefix}-icon {
	box-sizing: border-box;
    display: block;
    border: 1px solid @face-radio-default-color;
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px @face-radio-shadow-color;
    width: 100%;
    position: relative;
    height: 100%;
    text-align: center;
    &:before {
        display:inline-block;
        content: ' ';
        position: absolute;
        background-color: @face-radio-icon-color;  
        .faceRadioCheckedInnerStyle;

        -webkit-transform: scale(.01) ;
           -moz-transform: scale(.01) ;
             -o-transform: scale(.01) ;
                transform: scale(.01) ;

        opacity: 0;
        filter:alpha(opacity=0);

        -webkit-transform-origin: center; /* Safari 和 Chrome */
           -moz-transform-origin: center; /* Firefox 4 */
             -o-transform-origin: center; /* Opera */
                transform-origin: center;
    }
    .faceRadioAnimation();
}
.@{prefix}-input {
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    cursor: inherit;
    margin: 0;border: 0;padding: 0;
    left: 0;right: 0;top: 0;bottom: 0;
    width: 100%; height: 100%; 
}


@import './style.less';
@import './themes.less';