<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>message</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-message-wrap">
        <div class="face-message-item">
            <div class="face-message">
                <span class="face-message-icon">
                    <div class="fi fi-info-of"></div>
                </span>
                <div class="face-message-content">
                    默认
                </div>
            </div>
        </div>
        <div class="face-message-item">
            <div class="face-message face-message--themes-success">
                <span class="face-message-icon">
                    <div class="fi fi-check-of"></div>
                </span>
                <div class="face-message-content">
                    成功
                </div>
            </div>
        </div>
        <div class="face-message-item">
            <div class="face-message face-message--themes-error">
                <span class="face-message-icon">
                    <div class="fi fi-info-of"></div>
                </span>
                <div class="face-message-content">
                    失败
                </div>
            </div>
        </div>
        <div class="face-message-item">
            <div class="face-message face-message--themes-warning">
                <span class="face-message-icon">
                    <div class="fi fi-warning-of"></div>
                </span>
                <div class="face-message-content">
                    警告
                </div>
            </div>
        </div>
        <div class="face-message-item">
            <div class="face-message face-message--themes-loading">
                <span class="face-message-icon">
                    <div class="fi fi-loading"></div>
                </span>
                <div class="face-message-content">
                    正在加载
                </div>
            </div>
        </div>
        <div class="face-message-item">
            <div class="face-message face-message--remove face-message--themes-error">
                <span class="face-message-icon">
                    <div class="fi fi-info-of"></div>
                </span>
                <div class="face-message-content">
                    删除
                </div>
                <div class="face-message-remove">
                    <span class="fi fi-close" ></span>
                </div>
            </div>
        </div>
        <div class="face-message-item">
            <div class="face-message face-message--remove face-message--themes-error">
                <span class="face-message-icon">
                    <div class="fi fi-info-of"></div>
                </span>
                <div class="face-message-content">
                    离离原上草，一岁一枯荣。<br />
                    野火烧不尽，春风吹又生。<br />
                    远芳侵古道，晴翠接荒城。<br />
                    又送王孙去，萋萋满别情。
                </div>
                <div class="face-message-remove">
                    <span class="fi fi-close" ></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
