<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-input">
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="fi fi-user"></span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--append">
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />
    <div class="face-input face-input--append face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />
    <!-- <button type="submit" class="face-input-append-wrap-content-submit" >
        <span class="fi fi-search"></span>
    </button> -->
    
</body>
</html>
