<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-input">
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--error">
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="fi fi-user"></span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
    </div>
    <br />
    <div class="face-input face-input--append">
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />
    <div class="face-input face-input--append face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />
    <style style="display:block;">
    .face-input---custom .face-input-prepend-wrap {
        background: orange;
        color:white;
        border:1px solid purple;
    }
    .face-input---custom .face-input-append-wrap {
        background: pink;
        color:white;
        border:1px solid purple;
    }
    .face-input---custom .face-input-input{
        border:1px solid purple;
    }
    </style>
    <div class="face-input face-input--append face-input--prepend face-input---custom">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />
    <div class="face-input face-input--large face-input--append face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />
    <div class="face-input face-input--small face-input--append face-input--prepend">
        <span class="face-input-prepend">
            <span class="face-input-prepend-wrap">
                <span class="face-input-prepend-wrap-content">
                    http://
                </span>
            </span>
        </span>
        <input class="face-input-input" placeholder="请输入文字" />
        <span class="face-input-append">
            <span class="face-input-append-wrap">
                <span class="face-input-append-wrap-content">
                    .com
                </span>
            </span>
        </span>
    </div>
    <br />

    <div class="face-input-search face-input--small">
        <div class="face-input-search-inner">
            <div class="face-input-search-input">
                <input type="text" class="face-input-search-input-input" />
            </div>
            <div class="face-input-search-submit">
                <button class="face-input-search-submit-submit" type="submit" >搜索</button>
            </div>
        </div>
    </div>
    <br />
    <div class="face-input-search face-input--large">
        <div class="face-input-search-inner">
            <div class="face-input-search-input">
                <input type="text" class="face-input-search-input-input" />
            </div>
            <div class="face-input-search-submit">
                <button class="face-input-search-submit-submit" type="submit" >搜索</button>
            </div>
        </div>
    </div>
    <br />
    <div class="face-input-search">
        <div class="face-input-search-inner">
            <div class="face-input-search-input">
                <input type="text" class="face-input-search-input-input" />
            </div>
            <div class="face-input-search-submit">
                <button class="face-input-search-submit-submit" type="submit" >搜索</button>
            </div>
        </div>
    </div>
    <br>
    <div class="face-input-search ">
        <div class="face-input-search-inner">
            <div class="face-input-search-input">
                <input type="text" class="face-input-search-input-input" />
            </div>
            <div class="face-input-search-submit">
                <button class="face-input-search-submit-submit" type="submit" >
                    <span class="fi fi-search"></span>
                </button>
            </div>
        </div>
    </div>
    <br />
    <style style="display:block" >

    .face-input---custom-search .face-input-search-submit-submit {
        background-color: orange;
        box-shadow: 0px 0px 0px 1px orange;
    }
    .face-input---custom-search.face-input-search--focus {
        box-shadow: 0 0 0 0.125em rgba(255, 165,0,.3);
        border-color:orange;
    }
    </style>
    <div class="face-input-search face-input---custom-search ">
        <div class="face-input-search-inner">
            <div class="face-input-search-input">
                <input type="text" class="face-input-search-input-input" />
            </div>
            <div class="face-input-search-submit">
                <button class="face-input-search-submit-submit" type="submit" >
                    <span class="fi fi-search"></span>
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="face-input-search face-input-search--ghost">
        <div class="face-input-search-inner">
            <div class="face-input-search-input">
                <input type="text" class="face-input-search-input-input" />
            </div>
            <div class="face-input-search-submit">
                <button class="face-input-search-submit-submit" type="submit" >
                    <span class="fi fi-search"></span>
                </button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/jquery@1.12.0/dist/jquery.min.js"></script>
    <script>
$(function () {
    $('.face-input-search-submit-submit').on('click', function () {
        var $this = $(this)
        $this.addClass('face-input-search-submit-submit--clicked')
        setTimeout(function () {
            $this.removeClass('face-input-search-submit-submit--clicked')
        },300)
    })
    $('.face-input-search-input-input').on('focus', function () {
        $(this).closest('.face-input-search').addClass('face-input-search--focus')
    }).on('blur', function () {
        $(this).closest('.face-input-search').removeClass('face-input-search--focus')
    })

})
    </script>

</body>
</html>
