<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-input">
        <div class="face-input-inner">
            <input class="face-input-input" placeholder="请输入文字" />
        </div>
    </div>
    <br />
    <div class="face-input face-input--error">
        <div class="face-input-inner">
            <input class="face-input-input" placeholder="请输入文字" />
        </div>
    </div>
    <br />
    <div class="face-input face-input--prepend">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        <span class="fi fi-user"></span>
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
        </div>
    </div>
    <br />
    <div class="face-input face-input--prepend">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
        </div>
    </div>
    <br />
    <div class="face-input face-input--append face-input--prepend face-input--button face-input--full-outline">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        <span class="face-input-append-wrap-content-btn">
                            <span class="fi fi-search"></span>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />

    <div class="face-input face-input--append face-input--prepend face-input--button face-input--full-outline">
        <div class="face-input-inner">
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        <span class="face-input-append-wrap-content-btn">
                            <span class="fi fi-search"></span>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--append face-input--prepend face-input--button face-input--button-ghost face-input--full-outline">
        <div class="face-input-inner">
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        <button type="submit" class="face-input-append-wrap-content-btn">
                            <span class="fi fi-search"></span>
                        </button>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--append">
        <div class="face-input-inner">
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        .com
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--full-outline face-input--prepend face-input--prepend-ghost">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        <span class="fi fi-chrome"></span>
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
        </div>
    </div>
    <br />
    <div class="face-input face-input--full-outline face-input--append face-input--append-ghost">
        <div class="face-input-inner">
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        <span class="fi fi-eye-f"></span>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--full-outline face-input--append face-input--prepend face-input--append-ghost face-input--prepend-ghost">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        <span class="fi fi-chrome"></span>
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        <span class="fi fi-eye-f"></span>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--append face-input--prepend">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        .com
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <style style="display:block;">
    .face-input---custom .face-input-prepend-wrap {
        background: orange;
        color:white;
        border:1px solid purple;
    }
    .face-input---custom .face-input-append-wrap {
        background: pink;
        color:white;
        border:1px solid purple;
    }
    .face-input---custom .face-input-input{
        border:1px solid purple;
    }
    .face-input---custom .face-input-input:focus {
        box-shadow: 0px 0px 0px 2px rgba(128,0,128,.2);
    }
    </style>
    <div class="face-input face-input--append face-input--prepend face-input---custom">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        .com
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--large face-input--append face-input--prepend">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        .com
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--small face-input--append face-input--prepend">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        .com
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />
    <div class="face-input face-input--full-outline face-input--append face-input--prepend">
        <div class="face-input-inner">
            <span class="face-input-prepend">
                <span class="face-input-prepend-wrap">
                    <span class="face-input-prepend-wrap-content">
                        http://
                    </span>
                </span>
            </span>
            <input class="face-input-input" placeholder="请输入文字" />
            <span class="face-input-append">
                <span class="face-input-append-wrap">
                    <span class="face-input-append-wrap-content">
                        .com
                    </span>
                </span>
            </span>
        </div>
    </div>
    <br />


    <script src="https://unpkg.com/jquery@1.12.0/dist/jquery.min.js"></script>
    <script>
$(function () {
    $('.face-input-append-wrap-content-btn').on('click', function () {
        var $this = $(this)
        $this.addClass('face-input-append-wrap-content-btn--clicked')
        setTimeout(function () {
            $this.removeClass('face-input-append-wrap-content-btn--clicked')
        },300)
    })
    $('.face-input-input').on('focus', function () {
        $(this).closest('.face-input').addClass('face-input--focus')
    }).on('blur', function () {
        $(this).closest('.face-input').removeClass('face-input--focus')
    })

})
    </script>

</body>
</html>
