<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkbox 0.2.x</title>
    <link rel="stylesheet" href="./0.2.x.less/index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
	<h3>0.2.x(checkbox.react 自带label)</h3>
	<div>default</div>
		<label class="face-checkbox">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">default</span>
		</label>
		<label class="face-checkbox face-checkbox--focus">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">focus</span>
		</label>
		<label class="face-checkbox face-checkbox--disabled">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">disabled</span>
		</label>
		<label class="face-checkbox face-checkbox--focus face-checkbox--checked">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">focus checked</span>
		</label>
		<label class="face-checkbox face-checkbox--checked">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">checked</span>
		</label>
		<label class="face-checkbox face-checkbox--disabled face-checkbox--checked">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">disabled checked</span>
		</label>
	
	<div>face-checkbox--themes-partial</div>
		<label class="face-checkbox face-checkbox--themes-partial">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">default</span>
		</label>
		<label class="face-checkbox face-checkbox--themes-partial face-checkbox--focus">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">focus</span>
		</label>
		<label class="face-checkbox face-checkbox--themes-partial face-checkbox--disabled">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">disabled</span>
		</label>
		<label class="face-checkbox face-checkbox--themes-partial face-checkbox--focus face-checkbox--checked">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">focus checked</span>
		</label>
		<label class="face-checkbox face-checkbox--themes-partial face-checkbox--checked">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">checked</span>
		</label>
		<label class="face-checkbox face-checkbox--themes-partial face-checkbox--disabled face-checkbox--checked">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		    <span class="face-checkbox-label">disabled checked</span>
		</label>

	
	<div>face-checkbox--themes-green (实验themes) </div>
		<label class="face-checkbox face-checkbox--themes-green">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		</label>
	    <label class="face-checkbox face-checkbox--themes-green face-checkbox--focus">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		</label>
	    <label class="face-checkbox face-checkbox--themes-green face-checkbox--disabled">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		</label>
	    <label class="face-checkbox face-checkbox--themes-green face-checkbox--focus face-checkbox--checked">
			<span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		</label>
	    <label class="face-checkbox face-checkbox--themes-green face-checkbox--checked">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		</label>
	    <label class="face-checkbox face-checkbox--themes-green face-checkbox--disabled face-checkbox--checked">
		    <span class="face-checkbox-switch">
		        <span class="face-checkbox-switch-icon"></span>
		        <input type="checkbox" class="face-checkbox-switch-input" />
		    </span>
		</label>

</body>
</html>
