<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkbox 0.3.x</title>
    <link rel="stylesheet" href="./index.less/index.less">
    <link rel="stylesheet" href="/face.less" />
</head>
<body style="padding:20px;" >
	<h2>checkbox.react无label版</h2>
	<h3>default</h3>
        <div class="face-checkbox">
            <span class="face-checkbox-icon"></span>
            <input type="checkbox" class="face-checkbox-input" />
        </div>
        <br/>
        <label>
    		<span class="face-checkbox">
    	        <span class="face-checkbox-icon"></span>
    	        <input type="checkbox" class="face-checkbox-input" />
    	    </span>
            <span>default</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--focus">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--disabled">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--focus face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--disabled face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled checked</span>
        </label>
    
    <hr>
    <h3>face-checkbox--themes-partial </h3>
        <div class="face-checkbox face-checkbox--themes-partial">
            <span class="face-checkbox-icon"></span>
            <input type="checkbox" class="face-checkbox-input" />
        </div>
        <br/>
        <label>
            <span class="face-checkbox face-checkbox--themes-partial">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>default</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-partial face-checkbox--focus">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-partial face-checkbox--disabled">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-partial face-checkbox--focus face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-partial face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-partial face-checkbox--disabled face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled checked</span>
        </label>
	
	<hr>
	<h3>face-checkbox--themes-exist </h3>
        <div class="face-checkbox face-checkbox--themes-exist">
            <span class="face-checkbox-icon"></span>
            <input type="checkbox" class="face-checkbox-input" />
        </div>
        <br/>
        <label>
            <span class="face-checkbox face-checkbox--themes-exist">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>default</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-exist face-checkbox--focus">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-exist face-checkbox--disabled">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-exist face-checkbox--focus face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-exist face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-exist face-checkbox--disabled face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled checked</span>
        </label>
	
    <hr>
    <h3>face-checkbox--themes-green (实验themes) </h3>
        <div class="face-checkbox face-checkbox--themes-green">
            <span class="face-checkbox-icon"></span>
            <input type="checkbox" class="face-checkbox-input" />
        </div>
        <br/>
        <label>
            <span class="face-checkbox face-checkbox--themes-green">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>default</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-green face-checkbox--focus">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-green face-checkbox--disabled">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-green face-checkbox--focus face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>focus checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-green face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>checked</span>
        </label>
        <label>
            <span class="face-checkbox face-checkbox--themes-green face-checkbox--disabled face-checkbox--checked">
                <span class="face-checkbox-icon"></span>
                <input type="checkbox" class="face-checkbox-input" />
            </span>
            <span>disabled checked</span>
        </label>
</body>
</html>
