@import "./settings.less";
.@{prefix} {
    text-align: center;
    color: @face-paging-text-color;
}
@import "./ghost.less";
@import "./solid.less";
@import "./simple.less";
@import "./group.less";
.@{prefix}-dataTotal {
    color:#666;
    font-size: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
}
.@{prefix}-goto {
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
}
.@{prefix}-mini-value,
.@{prefix}-goto-value {
    text-align: center;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: .3em;
    width: 2.4em;
    padding-left: .3em;
    padding-right: .3em;
    color: @face-paging-text-color;
    &:focus {
        outline: none;
        border-color: @face-paging-primary-color;
    }
}

.@{prefix}-item,
.@{prefix}-more,
{
    min-width: 2em;
}
.@{prefix}-prev,
.@{prefix}-next,
{
    min-width: 1em;
}
.@{prefix} .@{prefix}-prev--disabled,
.@{prefix} .@{prefix}-next--disabled {
    &,
    &:hover {
        color: @face-paging-disabled-text-color;
    }
    cursor: not-allowed;
}
.@{prefix}-prev {

}
.@{prefix}-prev-icon {

}
.@{prefix}-more {
    min-width: 1em;
    &:hover {
        .@{prefix}-more-icon {
            display: block;
        }
        .@{prefix}-more-text {
            display: none;
        }
    }
}
.@{prefix}-more--prev {

}
.@{prefix}-more--next {

}

.@{prefix}-more-text {
    vertical-align: top;
    position: relative;
    top:-.25em;
}
.@{prefix}-more-icon {
    display: none;
}
.@{prefix}-item {

}
.@{prefix}-next--disabled,
.@{prefix}-prev--disabled {
    cursor: not-allowed;
}
.@{prefix}-next {

}
.@{prefix}-next-icon {

}
