@import "./settings.less";
.@{face-paging-prefix} {
    text-align: center;
    color: @face-paging-text-color;
    a:hover {
        text-decoration: none;
    }
}
@import "./ghost.less";
@import "./solid.less";
@import "./simple.less";
@import "./group.less";

.@{face-paging-prefix}-dataTotal {
    color:#666;
    font-size: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
}
.@{face-paging-prefix}-goto {
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
}
.@{face-paging-prefix}-mini-value,
.@{face-paging-prefix}-goto-value {
    text-align: center;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: .3em;
    width: 2.4em;
    padding-left: .3em;
    padding-right: .3em;
    color: @face-paging-text-color;
    &:focus {
        outline: none;
        border-color: @face-paging-primary-color;
    }
}

.@{face-paging-prefix}-item,
.@{face-paging-prefix}-more,
{
    min-width: 2em;
}
.@{face-paging-prefix}-prev,
.@{face-paging-prefix}-next,
{
    min-width: 1em;
}
.@{face-paging-prefix} .@{face-paging-prefix}-prev--disabled,
.@{face-paging-prefix} .@{face-paging-prefix}-next--disabled {
    &,
    &:hover {
        color: @face-paging-disabled-text-color;
    }
    cursor: not-allowed;
}
.@{face-paging-prefix}-prev {

}
.@{face-paging-prefix}-prev-icon {

}
.@{face-paging-prefix}-more {
    min-width: 1em;
    &:hover {
        .@{face-paging-prefix}-more-icon {
            display: block;
        }
        .@{face-paging-prefix}-more-text {
            display: none;
        }
    }
}
.@{face-paging-prefix}-more--prev {

}
.@{face-paging-prefix}-more--next {

}

.@{face-paging-prefix}-more-text {
    vertical-align: top;
    position: relative;
    top:-.25em;
}
.@{face-paging-prefix}-more-icon {
    display: none;
}
.@{face-paging-prefix}-item {

}
.@{face-paging-prefix}-next--disabled,
.@{face-paging-prefix}-prev--disabled {
    cursor: not-allowed;
}
.@{face-paging-prefix}-next {

}
.@{face-paging-prefix}-next-icon {

}
