<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>btn</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;text-align:center;" >
    <div class="face-btn-group">
        <span class="face-btn face-btn--ghost">
            <span class="face-btn-icon fi fi-angle-left"></span>
        </span><span class="face-btn face-btn--ghost">
            1
        </span><span class="face-btn face-btn--ghost">
            2
        </span><span class="face-btn face-btn--ghost">
            3
        </span><span class="face-btn face-btn--ghost face-paging-skip">

        </span><span class="face-btn face-btn--primary face-paging--on face-paging--on-solid">
            4
        </span><span class="face-btn  face-btn--ghost face-paging-skip">

        </span><span class="face-btn  face-btn--ghost">
            5
        </span><span class="face-btn  face-btn--ghost">
            6
        </span><span class="face-btn face-btn--ghost">
            7
        </span><span class="face-btn face-btn--ghost">
            <span class="face-btn-icon fi fi-angle-right"></span>
        </span>
    </div>
    <br /><br />
    <div class="face-btn-group">
        <span class="face-btn">
            <span class="face-btn-icon fi fi-angle-left"></span>
        </span><span class="face-btn">
            1
        </span><span class="face-btn">
            2
        </span><span class="face-btn">
            3
        </span><span class="face-btn face-paging-skip">

        </span><span class="face-btn face-btn--primary face-paging--on face-paging--on-solid">
            4
        </span><span class="face-btn face-paging-skip">

        </span><span class="face-btn">
            5
        </span><span class="face-btn">
            6
        </span><span class="face-btn">
            7
        </span><span class="face-btn">
            <span class="face-btn-icon fi fi-angle-right"></span>
        </span>
    </div>

</body>
</html>
