<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>paging</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <h5>ghost</h5>
    <div class="face-paging face-paging--ghost">
        <a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a></a><a href="#" class="face-paging-item">1
        <a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a><a href="#" class="face-paging-item">6
        </a><a href="#" class="face-paging-item">7
        </a><a href="#" class="face-paging-item">8
        </a><a href="#" class="face-paging-item face-paging-item--current">9
        </a><a href="#" class="face-paging-item">10
        </a><a href="#" class="face-paging-item">11
        </a><a href="#" class="face-paging-item">12
        </a><a href="#" class="face-paging-more face-paging-more--next">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">20
        </a><a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
    </div>
    <br />
    <div class="face-paging face-paging--ghost">
        <span class="face-paging-dataTotal">
            共
            <span class="face-paging-dataTotal-value">100</span>
            条
        </span>
        <a class="face-paging-prev face-paging-prev--disabled" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a><a href="#" class="face-paging-item">1
        </a><a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a><a href="#" class="face-paging-item">1116
        </a><a href="#" class="face-paging-item">1117
        </a><a href="#" class="face-paging-item">1118
        </a><a href="#" class="face-paging-item face-paging-item--current">1119
        </a><a href="#" class="face-paging-item">1120
        </a><a href="#" class="face-paging-item">1121
        </a><a href="#" class="face-paging-item">1122
        </a><a href="#" class="face-paging-more face-paging-more--next">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">20
        </a><a class="face-paging-next face-paging-next--disabled" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
        <span class="face-paging-goto">
            前往
            <input type="text" value="4" class="face-paging-goto-value" >
            页
        </span>
    </div>
    <h5>solid</h5>
    <div class="face-paging face-paging--solid">
        <a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a><a href="#" class="face-paging-item">1
        </a><a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a><a href="#" class="face-paging-item">6
        </a><a href="#" class="face-paging-item">7
        </a><a href="#" class="face-paging-item">8
        </a><a href="#" class="face-paging-item face-paging-item--current">9
        </a><a href="#" class="face-paging-item">10
        </a><a href="#" class="face-paging-item">11
        </a><a href="#" class="face-paging-item">12
        </a><a href="#" class="face-paging-more face-paging-more--next">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">20
        </a><a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
    </div>
    <br />
    <div class="face-paging face-paging--solid">
        <span class="face-paging-dataTotal">
            共
            <span class="face-paging-dataTotal-value">100</span>
            条
        </span>
        <a class="face-paging-prev face-paging-prev--disabled" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a><a href="#" class="face-paging-item">1
        </a><a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a><a href="#" class="face-paging-item">1116
        </a><a href="#" class="face-paging-item">1117
        </a><a href="#" class="face-paging-item">1118
        </a><a href="#" class="face-paging-item face-paging-item--current">1119
        </a><a href="#" class="face-paging-item">1120
        </a><a href="#" class="face-paging-item">1121
        </a><a href="#" class="face-paging-item">1122
        </a><a href="#" class="face-paging-more face-paging-more--right">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">2222
        </a><a class="face-paging-next face-paging-next--disabled" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
        <span class="face-paging-goto">
            前往
            <input type="text" value="4" class="face-paging-goto-value" >
            页
        </span>
    </div>
    <h5>group</h5>
    <div class="face-paging face-paging--group">
        <span class="face-paging-dataTotal">
            共
            <span class="face-paging-dataTotal-value">100</span>
            条
        </span>
        <a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a><a href="#" class="face-paging-item">1
        </a><a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a><a href="#" class="face-paging-item">6
        </a><a href="#" class="face-paging-item">7
        </a><a href="#" class="face-paging-item">8
        </a><a href="#" class="face-paging-item face-paging-item--current">9
        </a><a href="#" class="face-paging-item">10
        </a><a href="#" class="face-paging-item">11
        </a><a href="#" class="face-paging-item">12
        </a><a href="#" class="face-paging-more face-paging-more--next">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">20
        </a><a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
        <span class="face-paging-goto">
            前往
            <input type="text" value="4" class="face-paging-goto-value" >
            页
        </span>
    </div>
    <h5>group solid</h5>
    <div class="face-paging face-paging--group face-paging--group-solid">
        <span class="face-paging-dataTotal">
            共
            <span class="face-paging-dataTotal-value">100</span>
            条
        </span><a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a><a href="#" class="face-paging-item">1
        </a><a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a><a href="#" class="face-paging-item">6
        </a><a href="#" class="face-paging-item">7
        </a><a href="#" class="face-paging-item">8
        </a><a href="#" class="face-paging-item face-paging-item--current">9
        </a><a href="#" class="face-paging-item">10
        </a><a href="#" class="face-paging-item">11
        </a><a href="#" class="face-paging-item">12
        </a><a href="#" class="face-paging-more face-paging-more--next">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">20
        </a><a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
        <span class="face-paging-goto">
            前往
            <input type="text" value="4" class="face-paging-goto-value" >
            页
        </span>
    </div>
    <h5>simple</h5>
    <div class="face-paging face-paging--simple">
        <a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a><a href="#" class="face-paging-item">1
        </a><a href="#" class="face-paging-more face-paging-more--prev">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-left"></span>
            </span>
        </a>
        <a href="#" class="face-paging-item">6</a>
        <a href="#" class="face-paging-item">7</a>
        <a href="#" class="face-paging-item">8</a>
        <a href="#" class="face-paging-item face-paging-item--current">9</a>
        <a href="#" class="face-paging-item">10</a>
        <a href="#" class="face-paging-item">11</a>
        <a href="#" class="face-paging-item">12</a>
        <a href="#" class="face-paging-more face-paging-more--next">
            <span class="face-paging-more-text">
                ...
            </span>
            <span class="face-paging-more-icon">
                <span class="fi fi-double-right"></span>
            </span>
        </a><a href="#" class="face-paging-item">20
        </a>
        <a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
    </div>
    <br />
    <div class="face-paging face-paging--simple">
        <a class="face-paging-prev face-paging-prev--disabled" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a>
        <a href="#" class="face-paging-item">1</a>
        <a href="#" class="face-paging-item">2</a>
        <a href="#" class="face-paging-item">3</a>
        <a href="#" class="face-paging-item face-paging-item--current">4</a>
        <a href="#" class="face-paging-item">5</a>
        <a href="#" class="face-paging-item">6</a>
        <a href="#" class="face-paging-item">7</a>
        <a class="face-paging-next face-paging-next--disabled" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
    </div>
    <div class="face-paging face-paging--simple">
        <span class="face-paging-dataTotal">
            共
            <span class="face-paging-dataTotal-value">100</span>
            条
        </span>
        <a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a>
        <a href="#" class="face-paging-item">1</a>
        <a href="#" class="face-paging-item">2</a>
        <a href="#" class="face-paging-item">3</a>
        <a href="#" class="face-paging-item face-paging-item--current">4</a>
        <a href="#" class="face-paging-item">5</a>
        <a href="#" class="face-paging-item">6</a>
        <a href="#" class="face-paging-item">7</a>
        <a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
        <span class="face-paging-goto">
            前往
            <input type="text" value="4" class="face-paging-goto-value" >
            页
        </span>
    </div>
    <h5>simple mini</h5>
    <div class="face-paging face-paging--simple face-paging--simple-mini">
        <a class="face-paging-prev" href="#" >
            <span class="face-paging-prev-icon fi fi-left"></span>
        </a>

        <span class="face-paging-mini">
            <input type="text" class="face-paging-mini-value" value="5" />
            <span class="face-paging-mini-separate">/</span>
            <span class="face-paging-mini-pagecount">10</span>
        </span>

        <a class="face-paging-next" href="#" >
            <span class="face-paging-next-icon fi fi-right"></span>
        </a>
    </div>
</body>
</html>
