<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
</head>
<body>
<style>
html {
    background-color: #f5f7f9;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
</style>
<div class="face-layout face-layout--full">
    <div class="face-layout-header">
        <div class="face-layout-header-inner">
            <a href="../../index.html" class="face-layout-header-logo">
                <img src="https://avatars1.githubusercontent.com/u/20395258?s=200&v=4&time=124124124124" alt="" class="face-layout-header-logo-photo">
            </a>
            <div class="face-layout-nav">
                <a href="../../index.html" class="face-layout-nav-item">
                    <span class="fi fi-home"></span>
                    Home
                </a>
                <a href="../../index.html" class="face-layout-nav-item face-layout-nav-item--on">
                    <span class="fi fi-user"></span>
                    User
                </a>
                <a href="../../index.html" class="face-layout-nav-item">
                    <span class="fi fi-wrench"></span>
                    System
                </a>
                <a href="../../index.html" class="face-layout-nav-item">
                    <span class="fi fi-send"></span>
                    邮件
                </a>
            </div>
            <div class="face-layout-member">
                <a href="../../index.html" class="face-layout-member-item">
                    <span class="fi fi-user-circle"></span>
                    Nimo
                </a>
                <a href="../../index.html" class="face-layout-member-item">
                    <span class="fi fi-sign-out "></span>
                    Logout
                </a>
            </div>
        </div>
    </div>
    <div class="face-layout-sidebar">
        <div class="face-layout-sidebar-item">
            <a href="#" class="face-layout-sidebar-item-label">
                <span class="face-layout-sidebar-item-label-icon fi fi-paper-plane"></span>
                Send
            </a>
        </div>
        <div class="face-layout-sidebar-item face-layout-sidebar-item--on">
            <a href="#" class="face-layout-sidebar-item-label">
                <span class="face-layout-sidebar-item-label-icon fi fi-gamepad"></span>
                Game
            </a>
        </div>
        <div class="face-layout-sidebar-item">
            <a href="#" class="face-layout-sidebar-item-label">
                <span class="face-layout-sidebar-item-label-icon fi fi-book"></span>
                Book
            </a>
        </div>
        <div class="face-layout-sidebar-item">
            <a href="#" class="face-layout-sidebar-item-label">
                <span class="face-layout-sidebar-item-label-icon fi fi-chrome"></span>
                chrome
            </a>
        </div>
    </div>
    <div class="face-layout-wrap">
        <div class="face-layout-cnt">
<pre>
    ...
    Really
    ...
    ...
    ...
    long
    ...
    ...
    ...
    ...
    ...
    long
    ...
    ...
    ...
    ...
    ...
    long
    ...
    ...
    ...
    ...
    ...
    long
    ...
    ...
    ...
    ...
    ...
    long
    ...
    ...
    ...
    ...
    ...
    long
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    ...
    content
</pre>
        </div>
    </div>
    <div class="face-layout-footer">
        2017 &copy; onface
    </div>
</div>
</body>
</html>
