<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>table</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-table-wrap">
        <table class="face-table">
            <thead clalss="face-table-thead" >
                <tr class="face-table-thead-tr">
                    <th class="face-table-th">
                        Name
                        <span class="face-table-th-filter">
                            <span class="fi fi-filter"></span>
                        </span>
                    </th>
                    <th class="face-table-th">Age</th>
                    <th class="face-table-th">Action</th>
                </tr>
            </thead>
            <tbody class="face-table-tbody" >
                <tr class="face-table-tr">
                    <td class="face-table-td">
                        <span class="face-table-td-switch">

                        </span>
                        Nimo
                    </td>
                    <td class="face-table-td">
                        24
                    </td>
                    <td class="face-table-td">
                        <button class="face-btn face-btn--small">Edit</button>
                    </td>
                </tr>
                <tr class="face-table-tr">
                    <td class="face-table-td">
                        <span class="face-table-td-switch">
                            <span class="fi fi-plus-s"></span>
                        </span>
                        Nimo
                    </td>
                    <td class="face-table-td">
                        24
                    </td>
                    <td class="face-table-td">
                        <button class="face-btn face-btn--small">Edit</button>
                    </td>
                </tr>
                <tr class="face-table-tr face-table-tr--open">
                    <td class="face-table-td">
                        <span class="face-table-td-switch">
                            <span class="fi fi-minus-s"></span>
                        </span>
                        Nimo
                    </td>
                    <td class="face-table-td">
                        24
                    </td>
                    <td class="face-table-td">
                        <button class="face-btn face-btn--small">Edit</button>
                    </td>
                </tr>
                <tr class="face-table-sub-tr">
                    <td class="face-table-sub-td" colspan="3"  >
                        <div class="face-table-wrap">
                            <table class="face-table">
                                <thead clalss="face-table-thead" >
                                    <tr class="face-table-thead-tr">
                                        <th class="face-table-th">Fruit</th>
                                        <th class="face-table-th">Gender</th>
                                        <th class="face-table-th">Nickname</th>
                                        <th class="face-table-th">Color</th>
                                    </tr>
                                </thead>
                                <tbody class="face-table-tbody" >
                                    <tr class="face-table-tr">
                                        <td class="face-table-td">
                                            Apple
                                        </td>
                                        <td class="face-table-td">
                                            Male
                                        </td>
                                        <td class="face-table-td">
                                            Nico
                                        </td>
                                        <td class="face-table-td">
                                            Red
                                        </td>
                                    </tr>
                                </tbody>
                                <thead clalss="face-table-thead" >
                                    <tr class="face-table-thead-tr">
                                        <th class="face-table-th">Title</th>
                                        <th class="face-table-th">Permission</th>
                                        <th class="face-table-th">Computer</th>
                                        <th class="face-table-th">Nationality</th>
                                    </tr>
                                </thead>
                                <tbody class="face-table-tbody" >
                                    <tr class="face-table-tr">
                                        <td class="face-table-td">
                                            F2E
                                        </td>
                                        <td class="face-table-td">
                                            Low
                                        </td>
                                        <td class="face-table-td">
                                            Macbook
                                        </td>
                                        <td class="face-table-td">
                                            China
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="face-table-tr">
                    <td class="face-table-td">
                        <span class="face-table-td-switch">
                            <span class="fi fi-minus-s"></span>
                        </span>
                        Nimo
                    </td>
                    <td class="face-table-td">
                        24
                    </td>
                    <td class="face-table-td">
                        <button class="face-btn face-btn--small">Edit</button>
                    </td>
                </tr>
                <tr class="face-table-tr">
                    <td class="face-table-td">
                        <div style="padding-left:2em;" >
                            <span class="face-table-td-switch">
                                <span class="fi fi-minus-s"></span>
                            </span>
                            Nimo
                        </div>
                    </td>
                    <td class="face-table-td">
                        24
                    </td>
                    <td class="face-table-td">
                        <button class="face-btn face-btn--small">Edit</button>
                    </td>
                </tr>
                <tr class="face-table-tr">
                    <td class="face-table-td">
                        <div style="padding-left:4em;" >
                            <span class="face-table-td-switch">

                            </span>
                            Nimo
                        </div>
                    </td>
                    <td class="face-table-td">
                        24
                    </td>
                    <td class="face-table-td">
                        <button class="face-btn face-btn--small">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
