.face-one-layout {
    width:100%;
    height: 100%;
    display: table;
    border-collapse:collapse;
}
.face-one-layout-F-line {
    display: table-row;
}
.face-one-layout-sidebar {
    position: relative;
    height: 100%;
    display: table-cell;
    vertical-align:top;
}
.face-one-layout-cnt {
    padding-left: 1em;
    padding-right: 1em;
    width: 99%;
    display: table-cell;
    vertical-align:top;
    border-left:1px solid #eee;
}
@media screen and (max-width: 750px) {
    .face-one-layout-cnt {
        border-left: none;
    }
}
