<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-breadcrumb">
        <span>
            <a href="#" class="face-breadcrumb-link">Home</a>
            <span class="face-breadcrumb-separator"></span>
        </span>
        <span>
            <a href="#" class="face-breadcrumb-link">User</a>
            <span class="face-breadcrumb-separator"></span>
        </span>
        <span>
            <a href="#" class="face-breadcrumb-link">Create</a>
            <span class="face-breadcrumb-separator"></span>
        </span>
    </div>
</body>
</html>
