@import "./settings.less";
.faceCheckboxStyle(@color) {
    // .@{prefix}-line-info {
    //     color: @color;
    // }
}

.faceCheckboxCheckedInnerStyle() {
    height: 0.375em;
    width: 0.625em;
    top: 20%;
    left: 16%;
    background-color: transparent;
    margin:0;
    border-style: solid;  
    border-width: 0 0 0.125em 0.125em;
}