@prefix: face-checkbox;

// @face-progress-default-color: #f5f5f5;
// @face-progress-text-color: rgba(0, 0, 0, 0.65);
// @face-progress-text-disable-color: rgba(0, 0, 0, 0.45);
// @face-progress-icon-color: #fff;

// @face-checkbox-primary-color: #4387fd;
// @face-checkbox-disable-color: #d85c4b;
// @face-progress-success-color: #5dc75d;

@face-checkbox-label-color: rgba(0, 0, 0, 0.65);
@face-checkbox-active-color: #3b99fc;

@face-checkbox-focus-shadow-color: rgba(45, 140, 240, 0.2);

@face-checkbox-disabled-border-color: #CCC;
@face-checkbox-disabled-bg-color: #EEE;
@face-checkbox-disabled-icon-color: #AAA;
@face-checkbox-disable-text-color: rgba(0, 0, 0, 0.45);


/*
border: 1px solid #BCBCBC;
box-shadow: inset 0px 1px 1px #DEDEDE;
border-color: #fff;  
background-color:#3b99fc;
focus : rgba(45, 140, 240, 0.2);
border-color:#CCC;
background-color:#EEE;
border-color:#AAA;
*/