<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>btn</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../icons/index.css">
    <style>
.btn-wrap { font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;}
    </style>
</head>
<body>
    <div class="btn-wrap">
        <pre>.btn-wrap{font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;}</pre>
        <pre>&lt;link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css"&gt;</pre>
        <h2>basic</h2>
        <span class="face-btn">default</span>
        <button type="button" class="face-btn">button</button>
        <span class="face-btn face-btn--primary">primary</span>
        <span class="face-btn face-btn--dashed">dashed</span>
        <span class="face-btn face-btn--danger">danger</span>
        <span class="face-btn face-btn--warning">warning</span>
        <span class="face-btn face-btn--info">info</span>
        <span class="face-btn face-btn--success">success</span>
        <button class="face-btn face-btn--disabled" disabled="disabled" type="button" >disabled</button>
        <span class="face-btn face-btn--loading">
            <span class="face-btn-loading">
                <span class="fi fi-refresh fi-spin face-btn-loading-spin" ></span>
            </span>
            loading default
        </span>
        <span class="face-btn face-btn--primary face-btn--loading">
            <span class="face-btn-loading">
                <span class="fi fi-refresh fi-spin face-btn-loading-spin" ></span>
            </span>
            loading primary
        </span>
        <h2>icon</h2>
        <span class="face-btn face-btn--primary face-btn--icon">
            <span class="face-btn-icon fi fi-user"></span>
        </span>
        <span class="face-btn face-btn--dashed face-btn--icon">
            <span class="face-btn-icon fi fi-user"></span>
        </span>
        <span class="face-btn face-btn--danger face-btn--icon">
            <span class="face-btn-icon fi fi-gear"></span>
        </span>
        <span class="face-btn face-btn--warning face-btn--icon">
            <span class="face-btn-icon fi fi-photo"></span>
        </span>
        <span class="face-btn face-btn--info face-btn--icon">
            <span class="face-btn-icon fi fi-info-circle"></span>
        </span>
        <button class="face-btn face-btn--success face-btn--icon">
            <span class="face-btn-icon fi fi-gear"></span>
        </button>
        <span class="face-btn face-btn--disabled face-btn--icon">
            <span class="face-btn-icon fi fi-gear"></span>
        </span>
        </br /></br />
        <span class="face-btn" disabled="true" type="button" >
            append
            <span class="fi fi-gear"></span>
        </span>
        <br />
        <span class="face-btn face-btn--append" disabled="true" type="button" >
            append
            <span class="fi fi-gear"></span>
        </span>
        <br />
        <span class="face-btn" disabled="true" type="button" >
            <span class="fi fi-gear"></span>
            prepend
        </span>
        <br />
        <span class="face-btn face-btn--prepend" disabled="true" type="button" >
            <span class="fi fi-gear"></span>
            prepend
        </span>
        <h2>ghost</h2>
        <span class="face-btn face-btn--ghost">default</span>
        <span class="face-btn face-btn--primary face-btn--ghost">primary</span>
        <span class="face-btn face-btn--dashed face-btn--ghost">dashed</span>
        <span class="face-btn face-btn--dashed face-btn--ghost face-btn--primary">dashed face-btn--primary</span>
        <span class="face-btn face-btn--danger face-btn--ghost">danger</span>
        <span class="face-btn face-btn--warning face-btn--ghost">warning</span>
        <span class="face-btn face-btn--info face-btn--ghost">info</span>
        <span class="face-btn face-btn--success face-btn--ghost">success</span>
        <button class="face-btn face-btn--disabled face-btn--ghost" disabled="true" >disabled</button>
        <span class="face-btn face-btn--primary face-btn--loading">
            <span class="face-btn-loading">
                <span class="fi fi-refresh fi-spin face-btn-loading-spin" ></span>
            </span>
            loading
        </span>
        <h2>group</h2>
        <div class="face-btn-group">
            <span class="face-btn">a</span><span class="face-btn">b</span><span class="face-btn">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--prepend">
                <i class="fi fi-angle-left" aria-hidden="true"></i>
                Prev
            </span><span class="face-btn face-btn--append">
                Next
                <i class="fi fi-angle-right" aria-hidden="true"></i>
            </span>

        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--ghost">a</span><span class="face-btn face-btn--ghost">b</span><span class="face-btn face-btn--ghost">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--ghost face-btn--dashed">a</span><span class="face-btn face-btn--ghost face-btn--dashed">b</span><span class="face-btn face-btn--ghost face-btn--dashed">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--icon">
                <span class="face-icon" ><span class="fi fi-gear"></span></span>
            </span><span class="face-btn face-btn--icon">
                <span class="face-icon"><span class="fi fi-trash"></span></span>
            </span><span class="face-btn face-btn--icon">
                <span class="face-icon"><span class="fi fi-plus-circle"></span></span>
            </span>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--primary">a</span><span class="face-btn face-btn--primary">b</span><span class="face-btn face-btn--primary">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--primary face-btn--ghost">a</span><span class="face-btn face-btn--primary face-btn--ghost">b</span><span class="face-btn face-btn--primary face-btn--ghost">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">a</span><span class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">b</span><span class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">c</span>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--danger">a</span><span class="face-btn face-btn--danger">b</span><span class="face-btn face-btn--danger">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--danger face-btn--ghost">a</span><span class="face-btn face-btn--danger face-btn--ghost">b</span><span class="face-btn face-btn--danger face-btn--ghost">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">a</span><span class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">b</span><span class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">c</span>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--warning">a</span><span class="face-btn face-btn--warning">b</span><span class="face-btn face-btn--warning">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--warning face-btn--ghost">a</span><span class="face-btn face-btn--warning face-btn--ghost">b</span><span class="face-btn face-btn--warning face-btn--ghost">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--warning face-btn--ghost face-btn--dashed">a</span><span class="face-btn face-btn--warning face-btn--ghost face-btn--dashed">b</span><span class="face-btn face-btn--warning face-btn--ghost face-btn--dashed">c</span>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--info">a</span><span class="face-btn face-btn--info">b</span><span class="face-btn face-btn--info">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--info face-btn--ghost">a</span><span class="face-btn face-btn--info face-btn--ghost">b</span><span class="face-btn face-btn--info face-btn--ghost">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--info face-btn--ghost face-btn--dashed">a</span><span class="face-btn face-btn--info face-btn--ghost face-btn--dashed">b</span><span class="face-btn face-btn--info face-btn--ghost face-btn--dashed">c</span>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--success">a</span><span class="face-btn face-btn--success">b</span><span class="face-btn face-btn--success">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--success face-btn--ghost">a</span><span class="face-btn face-btn--success face-btn--ghost">b</span><span class="face-btn face-btn--success face-btn--ghost">c</span>
        </div>
        <div class="face-btn-group">
            <span class="face-btn face-btn--success face-btn--ghost face-btn--dashed">a</span><span class="face-btn face-btn--success face-btn--ghost face-btn--dashed">b</span><span class="face-btn face-btn--success face-btn--ghost face-btn--dashed">c</span>
        </div>
        <h2>dropdown</h2>
        <span class="face-btn face-btn--dropdown">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-angle-down"></span>
            </span>
        </span>
        <span class="face-btn face-btn--dropdown face-btn--primary">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-angle-down"></span>
            </span>
        </span>
        <span class="face-btn face-btn--dropdown face-btn--info">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-angle-down"></span>
            </span>
        </span>
        <span class="face-btn face-btn--dropdown face-btn--danger">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-angle-down"></span>
            </span>
        </span>
        <span class="face-btn face-btn--dropdown face-btn--warning">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-angle-down"></span>
            </span>
        </span>
        <span class="face-btn face-btn--dropdown face-btn--success">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-angle-down"></span>
            </span>
        </span>
        <h2>size</h2>
        <span class="face-btn face-btn--small">small</span>
        <span class="face-btn">default</span>
        <span class="face-btn face-btn--large">large</span>
        <span class="face-btn" style="font-size:30px;" >custom</span>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--small">small a</span><span class="face-btn face-btn--small">small b</span><span class="face-btn face-btn--small">small c</span>
        </div>
        <br /><br />
        <span class="face-btn" style="height:40px;line-height:38px;width:100px;font-size:20px;" >
            40px
        </span>
        <br /><br />
        <div class="face-btn-group">
            <span class="face-btn face-btn--small" style="font-size:30px;" >custom a</span><span class="face-btn face-btn--small" style="font-size:30px;" >custom b</span><span class="face-btn face-btn--small" style="font-size:30px;" >custom c</span>
        </div>
        <br />
        <h2>full</h2>
        <div class="face-btn face-btn--full face-btn--large">full</div>
        <script src="https://unpkg.com/jquery@1.12.2/dist/jquery.min.js"></script>
        <script style="display:block;white-space: pre;" >
        $(function () {
            $('.face-btn').on('click', function () {
                var checkedClass = 'face-btn--clicked'
                var $this = $(this)
                $this.removeClass(checkedClass).addClass(checkedClass)
                setTimeout(function () {
                    $this.removeClass(checkedClass)
                }, 400)
            })
        })
        </script>
    </div>
</body>
</html>
