<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>btn</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../components/icons/index.css">
    <style>
.btn-wrap { font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;}
    </style>
</head>
<body>
    <div class="btn-wrap">
        <pre>.btn-wrap{font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;}</pre>
        <pre>&lt;link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css"&gt;</pre>
        <h2>basic</h2>
        <button class="face-btn">default</button>
        <button class="face-btn face-btn--primary">primary</button>
        <button class="face-btn face-btn--danger">danger</button>
        <button class="face-btn face-btn--warning">warning</button>
        <button class="face-btn face-btn--info">info</button>
        <button class="face-btn face-btn--success">success</button>
        <a href="#" class="face-btn face-btn--link">link</a>
        <button class="face-btn face-btn--disabled" disabled="disabled" type="button" >disabled</button>
        <h2>loading</h2>
        <button class="face-btn face-btn--loading">
            loading
        </button>
        <button class="face-btn face-btn--primary face-btn--loading">
            loading primary
        </button>
        <button class="face-btn face-btn--danger face-btn--loading">
            loading danger
        </button>
        <button class="face-btn face-btn--warning face-btn--loading">
            loading warning
        </button>
        <button class="face-btn face-btn--info face-btn--loading">
            loading info
        </button>
        <button class="face-btn face-btn--success face-btn--loading">
            loading success
        </button>
        <h2>icon</h2>
        <button class="face-btn face-btn--primary face-btn--icon">
            <span class="face-btn-icon fi fi-user"></span>
        </button>
        <button class="face-btn face-btn--dashed face-btn--icon">
            <span class="face-btn-icon fi fi-user"></span>
        </button>
        <button class="face-btn face-btn--danger face-btn--icon">
            <span class="face-btn-icon fi fi-setting"></span>
        </button>
        <button class="face-btn face-btn--warning face-btn--icon">
            <span class="face-btn-icon fi fi-picture"></span>
        </button>
        <button class="face-btn face-btn--info face-btn--icon">
            <span class="face-btn-icon fi fi-apple-f"></span>
        </button>
        <button class="face-btn face-btn--success face-btn--icon">
            <span class="face-btn-icon fi fi-github"></span>
        </button>
        <button class="face-btn face-btn--disabled face-btn--icon">
            <span class="face-btn-icon fi fi-star-f"></span>
        </button>
        </br /></br />
        <button class="face-btn face-btn--append" type="button" >
            append
            <span class="fi fi-apple-f"></span>
        </button>
        <button class="face-btn face-btn--prepend" type="button" >
            <span class="fi fi-github"></span>
            prepend
        </button>
        <h2>ghost&dashed</h2>
        <button class="face-btn face-btn--ghost">default</button>
        <button class="face-btn face-btn--primary face-btn--ghost">primary</button>
        <button class="face-btn face-btn--danger face-btn--ghost">danger</button>
        <button class="face-btn face-btn--warning face-btn--ghost">warning</button>
        <button class="face-btn face-btn--info face-btn--ghost">info</button>
        <button class="face-btn face-btn--success face-btn--ghost">success</button>
        <button class="face-btn face-btn--success face-btn--ghost face-btn--loading">ghost loading</button>
        <br /><br />
        <button class="face-btn face-btn--dashed">dashed</button>
        <button class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">ghost dashed primary</button>
        <button class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">ghost dashed danger</button>
        <button class="face-btn face-btn--dashed face-btn--warning face-btn--ghost">ghost dashed warning</button>
        <button class="face-btn face-btn--dashed face-btn--info face-btn--ghost">ghost dashed info</button>
        <button class="face-btn face-btn--dashed face-btn--success face-btn--ghost">ghost dashed success</button>
        <button class="face-btn face-btn--success face-btn--ghost face-btn--dashed face-btn--loading">ghost dashed loading</button>

        <h2>group</h2>
        <div class="face-btn-group">
            <button class="face-btn">a</button><button class="face-btn">b</button><button class="face-btn">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--prepend">
                <i class="fi fi-angle-left" aria-hidden="true"></i>
                Prev
            </button><button class="face-btn face-btn--append">
                Next
                <i class="fi fi-angle-right" aria-hidden="true"></i>
            </button>

        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--ghost">a</button><button class="face-btn face-btn--ghost">b</button><button class="face-btn face-btn--ghost">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--ghost face-btn--dashed">a</button><button class="face-btn face-btn--ghost face-btn--dashed">b</button><button class="face-btn face-btn--ghost face-btn--dashed">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--icon">
                <span class="face-icon" ><span class="fi fi-user"></span></span>
            </button><button class="face-btn face-btn--icon">
                <span class="face-icon"><span class="fi fi-setting"></span></span>
            </button><button class="face-btn face-btn--icon">
                <span class="face-icon"><span class="fi fi-github"></span></span>
            </button>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--primary">a</button><button class="face-btn face-btn--primary">b</button><button class="face-btn face-btn--primary">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--primary face-btn--ghost">a</button><button class="face-btn face-btn--primary face-btn--ghost">b</button><button class="face-btn face-btn--primary face-btn--ghost">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">a</button><button class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">b</button><button class="face-btn face-btn--dashed face-btn--primary face-btn--ghost">c</button>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--danger">a</button><button class="face-btn face-btn--danger">b</button><button class="face-btn face-btn--danger">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--danger face-btn--ghost">a</button><button class="face-btn face-btn--danger face-btn--ghost">b</button><button class="face-btn face-btn--danger face-btn--ghost">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">a</button><button class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">b</button><button class="face-btn face-btn--dashed face-btn--danger face-btn--ghost">c</button>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--warning">a</button><button class="face-btn face-btn--warning">b</button><button class="face-btn face-btn--warning">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--warning face-btn--ghost">a</button><button class="face-btn face-btn--warning face-btn--ghost">b</button><button class="face-btn face-btn--warning face-btn--ghost">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--warning face-btn--ghost face-btn--dashed">a</button><button class="face-btn face-btn--warning face-btn--ghost face-btn--dashed">b</button><button class="face-btn face-btn--warning face-btn--ghost face-btn--dashed">c</button>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--info">a</button><button class="face-btn face-btn--info">b</button><button class="face-btn face-btn--info">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--info face-btn--ghost">a</button><button class="face-btn face-btn--info face-btn--ghost">b</button><button class="face-btn face-btn--info face-btn--ghost">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--info face-btn--ghost face-btn--dashed">a</button><button class="face-btn face-btn--info face-btn--ghost face-btn--dashed">b</button><button class="face-btn face-btn--info face-btn--ghost face-btn--dashed">c</button>
        </div>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--success">a</button><button class="face-btn face-btn--success">b</button><button class="face-btn face-btn--success">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--success face-btn--ghost">a</button><button class="face-btn face-btn--success face-btn--ghost">b</button><button class="face-btn face-btn--success face-btn--ghost">c</button>
        </div>
        <div class="face-btn-group">
            <button class="face-btn face-btn--success face-btn--ghost face-btn--dashed">a</button><button class="face-btn face-btn--success face-btn--ghost face-btn--dashed">b</button><button class="face-btn face-btn--success face-btn--ghost face-btn--dashed">c</button>
        </div>
        <h2>dropdown</h2>
        <button class="face-btn face-btn--dropdown face-btn--dropdown--default">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-down"></span>
            </span>
        </button>
        <button class="face-btn face-btn--dropdown face-btn--primary">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-down"></span>
            </span>
        </button>
        <button class="face-btn face-btn--dropdown face-btn--info">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-down"></span>
            </span>
        </button>
        <button class="face-btn face-btn--dropdown face-btn--danger">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-down"></span>
            </span>
        </button>
        <button class="face-btn face-btn--dropdown face-btn--warning">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-down"></span>
            </span>
        </button>
        <button class="face-btn face-btn--dropdown face-btn--success">
            Dropdown
            <span class="face-btn-dropdown">
                <span class="fi fi-down"></span>
            </span>
        </button>
        <h2>size</h2>
        <button class="face-btn face-btn--small">small</button>
        <button class="face-btn">default</button>
        <button class="face-btn face-btn--large">large</button>
        <button class="face-btn" style="font-size:30px;" >custom</button>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--small">small a</button><button class="face-btn face-btn--small">small b</button><button class="face-btn face-btn--small">small c</button>
        </div>
        <br /><br />
        <button class="face-btn" style="height:40px;line-height:38px;width:100px;font-size:20px;" >
            40px
        </button>
        <br /><br />
        <div class="face-btn-group">
            <button class="face-btn face-btn--small" style="font-size:30px;" >custom a</button><button class="face-btn face-btn--small" style="font-size:30px;" >custom b</button><button class="face-btn face-btn--small" style="font-size:30px;" >custom c</button>
        </div>
        <br />
        <h2>full</h2>
        <div class="face-btn face-btn--full face-btn--large">full</div>
        <script src="https://unpkg.com/jquery@1.12.2/dist/jquery.min.js"></script>
        <script style="display:block;white-space: pre;" >
        $(function () {
            $('.face-btn').on('click', function () {
                var checkedClass = 'face-btn--clicked'
                var $this = $(this)
                $this.removeClass(checkedClass).addClass(checkedClass)
                setTimeout(function () {
                    $this.removeClass(checkedClass)
                }, 400)
            })
        })
        </script>
    </div>
</body>
</html>
