<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tree</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
	<h2>complete</h2>
	<div class="face-tree">
		<ul class="face-tree-it">
			<li>
				<i class="face-tree-it-open face-tree-it-open--expand"></i>
				<i class="face-tree-it-open face-tree-it-open--fold"></i>
				<i class="face-tree-it-open face-tree-it-open--disable"></i>

				<span class="face-tree-it-checkbox">
					<span class="face-tree-it-checkbox-inner"></span>
				</span>
				<span class="face-tree-it-checkbox face-tree-it-checkbox--checked">
					<span class="face-tree-it-checkbox-inner"></span>
				</span>
				<span class="face-tree-it-checkbox face-tree-it-checkbox--haschecked">
					<span class="face-tree-it-checkbox-inner"></span>
				</span>
				<span class="face-tree-it-checkbox face-tree-it-checkbox--disable">
					<span class="face-tree-it-checkbox-inner"></span>
				</span>
				<span class="face-tree-it-checkbox face-tree-it-checkbox--disable face-tree-it-checkbox--checked">
					<span class="face-tree-it-checkbox-inner"></span>
				</span>
				<span class="face-tree-it-checkbox face-tree-it-checkbox--disable face-tree-it-checkbox--haschecked">
					<span class="face-tree-it-checkbox-inner"></span>
				</span>

				<span class="face-tree-it-cnt" title="parent1" >parent1</span>
			</li>
		</ul>
	</div>
</body>
</html>
