@import "./settings.less";
@import "./extend.less";

.@{prefix} { // calculate amount height 30
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    
    &:hover .@{prefix}-switch-icon {
        border-color: @face-radio-active-color;
        box-shadow: inset 0 1px 1px @face-radio-shadow-active-color;
    }
    .faceRadioAnimation();
}
.@{prefix}-switch {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .1875em;
    margin-left: .1875em;
    .faceRadioAnimation();
}
.@{prefix}-switch-icon {
    box-sizing: border-box;
    display: block;
    border: 1px solid @face-radio-default-color;
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px @face-radio-shadow-color;
    width: 100%;
    position: relative;
    height: 100%;
    text-align: center;
    &:before {
        display:inline-block;
        content: ' ';
        position: absolute;
        background-color: @face-radio-icon-color;  
        .faceRadioCheckedInnerStyle;

        -webkit-transform: scale(.01) ;
           -moz-transform: scale(.01) ;
             -o-transform: scale(.01) ;
                transform: scale(.01) ;

        opacity: 0;
        filter:alpha(opacity=0);

        -webkit-transform-origin: center; /* Safari 和 Chrome */
           -moz-transform-origin: center; /* Firefox 4 */
             -o-transform-origin: center; /* Opera */
                transform-origin: center;
    }
    .faceRadioAnimation();
}
.@{prefix}-switch-input {
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    cursor: inherit;
    margin: 0;border: 0;padding: 0;
    left: 0;right: 0;top: 0;bottom: 0;
    width: 100%; height: 100%; 
}
.@{prefix}-label {
    font-size: 1em;
    line-height: 1.875em;
    padding-right: .3125em;
    display: inline-block;
    vertical-align: middle;
    color: @face-radio-text-color;
    cursor: inherit;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

.@{prefix}Group {
    // display: inline-block;
    display: flex;
    display: inline-flex;
    vertical-align: middle;
    white-space: nowrap;
    & + & {
        margin-left: .625em;
    }
    .@{prefix} {
        &:not(:first-child) {
            margin-left: .625em;
        }
    }
    .@{prefix}-label {
        padding-right: 0;
    }
}
    .@{prefix}Group--hideicon {
        .@{prefix}-switch {
            display: none;
        }

    }
    .@{prefix}Group--border {
        .@{prefix}-switch {
            margin: 0;
            padding-top: .375em;
            padding-bottom: .375em;
        }
        .@{prefix}-label {
            line-height: 1.8em;
        }
        .@{prefix} {
            // align-items: flex-start;
            display: inline-block;
            border-radius: 0;
            border: 1px solid #d9d9d9;
            // padding-left: .3125em;
            padding-left: 0.625em;
            padding-right: 0.625em;
            border-radius: 0;
            &:first-child {
                border-radius: .18em 0 0 .18em;
            }
            &:last-child {
                border-radius: 0 .18em .18em 0;
            }
            &:not(:first-child) {
                margin: 0 0 0 -1px;
            }
            &:hover .@{prefix}-label {
                color: @face-radio-active-color;
            }
        }
    }
    .@{prefix}Group--separate {
        .@{prefix} {
            &,
            &:first-child,
            &:last-child {
                border-radius: .18em;
            }
            &:not(:first-child) {
                margin-left: .625em;
            }
        }
    }
    .@{prefix}Group--horiz {
        display: inline-grid;
        .@{prefix} {
            &:first-child {
                border-radius: .18em .18em 0 0;
            }
            &:last-child {
                border-radius: 0 0 .18em .18em;
            }
            &:not(:first-child) {
                margin: -1px 0 0 0 ;
            }
        }
    }
    .@{prefix}Group--separate.@{prefix}Group--horiz {
        .@{prefix} {
            &:first-child, 
            &:last-child,
            &:not(:first-child) {
                border-radius: .18em;
            }
            &:not(:first-child) {
                margin: .625em 0 0 0 ;
            }
        }
    }




// themes
@import "./themes.less";

// style
@import "./style.less";