@import "./settings.less";
.faceButtonStyle(@color) {
        background-color: @color;
        border-color: darken(@color, 3%);
        color:white;
        &:hover {
            background-color: lighten(@color, 2%);
        }
        &.@{face-btn-prefix}--clicked:before {
            border-color:darken(@color, 20%)
        }
        &.@{face-btn-prefix}--ghost{
          border-color:@color;
          color: @color;
          &.@{face-btn-prefix}--loading {
              color: white;
              background-color: @color;
          }
          &.@{face-btn-prefix}--loading:hover {
              background-color: lighten(@color, 2%);
          }
        }
        &.@{face-btn-prefix}--dashed {
            border-color: @color;
        }
        // &:focus {
        //     box-shadow: 0 0 0 0.15em fade(@color, 45%);
        // }
}
