@import "./settings.less";
.faceButtonStyle(@color) {
        background-color: @color;
        background-image: -webkit-linear-gradient(top,@color, darken(@color, 3%));
        border-color: darken(@color, 3%);
        color:white;
        &.@{prefix}:hover {
            background-color: lighten(@color, 2%);
            background-image: -webkit-linear-gradient(top,lighten(@color, 4%), lighten(@color, 2%));
        }
        &.@{prefix}--clicked:before {
            border-color:darken(@color, 20%)
        }
        &.@{prefix}--ghost{
          border-color:@color;
          color: @color;
          &.face-btn--loading {
              color: white;
          }
        }
        &.@{prefix}--dashed {
            border-color: @color;
        }
        // &:focus {
        //     box-shadow: 0 0 0 0.15em fade(@color, 45%);
        // }
        &.@{prefix}--loading {
            background: linear-gradient(90deg, @color 50%, darken(@color, 3%));
            background-size: .6em;
        }
}
