<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>modal</title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-modal-mask"></div>
    <div class="face-modal-wrap">
        <div class="face-modal">
            <div class="face-modal-header">
                <div class="face-modal-header-title">相思</div>
                <div class="face-modal-header-close">&times;</div>
            </div>
            <div class="face-modal-body">
                <p>
                    红豆生南国，<br />
                    春来发几枝。<br />
                    愿君多采撷，<br />
                    此物最相思。
                </p>
            </div>
            <div class="face-modal-footer">
                <span class="face-btn">关闭</span>
                <span class="face-btn face-btn--primary">确认</span>
            </div>
        </div>
        <!--
        <br />
        <div class="face-modal face-modal--not-footer">
            <div class="face-modal-header">
                <div class="face-modal-header-title">标题</div>
                <div class="face-modal-header-close">&times;</div>
            </div>
            <div class="face-modal-cnt">
                content
            </div>
        </div>
        -->
    </div>
</body>
</html>
