<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio 0.3.x</title>
    <link rel="stylesheet" href="./index.less/index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
	<h2>radio.react无label版</h2>
	<h3>default</h3>
		<label>
			<span class="face-radio">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>default</span>
		</label>
		<label>
			<span class="face-radio face-radio--focus">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>focus</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>disabled</span>
		</label>
		<label>
			<span class="face-radio face-radio--focus face-radio--checked">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>focus checked</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>checked</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>disabled checked</span>
		</label>

	<h3>face-radio--themes-green (实验themes) </h3>
		<label>
			<span class="face-radio face-radio--themes-green">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		</label>
	    <label>
			<span class="face-radio face-radio--themes-green face-radio--focus">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		</label>
	    <label>
		    <span class="face-radio face-radio--themes-green face-radio--disabled">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		</label>
	    <label>
			<span class="face-radio face-radio--themes-green face-radio--focus face-radio--checked">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		</label>
	    <label>
		    <span class="face-radio face-radio--themes-green face-radio--checked">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		</label>
	    <label>
		    <span class="face-radio face-radio--themes-green face-radio--disabled face-radio--checked">
		        <span class="face-radio-icon"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		</label>

</body>
</html>
