<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio</title>
    <link rel="stylesheet" href="./less/index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;" >
	<h1>radio</h1>
	<h3>与checkbox公用相同html结构,样式略作修改<a href="/components/checkbox">点击查看</a></h3>
	<h3>default</h3>
	<label>
		<span class="face-radio">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span>default</span>
	</label>
	<label>
		<span class="face-radio face-radio--focus">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span>focus</span>
	</label>
	<label>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span>disabled</span>
	</label>
	<label>
		<span class="face-radio face-radio--focus face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span>focus checked</span>
	</label>
	<label>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span>checked</span>
	</label>
	<label>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span>disabled checked</span>
	</label>

	<h3>face-radio--themes-green (实验themes) </h3>
	<span class="face-radio face-radio--themes-green">
        <span class="face-radio-mark"></span>
        <input type="radio" class="face-radio-input" />
    </span>
	<span class="face-radio face-radio--themes-green face-radio--focus">
        <span class="face-radio-mark"></span>
        <input type="radio" class="face-radio-input" />
    </span>
    <span class="face-radio face-radio--themes-green face-radio--disabled">
        <span class="face-radio-mark"></span>
        <input type="radio" class="face-radio-input" />
    </span>
	<span class="face-radio face-radio--themes-green face-radio--focus face-radio--checked">
        <span class="face-radio-mark"></span>
        <input type="radio" class="face-radio-input" />
    </span>
    <span class="face-radio face-radio--themes-green face-radio--checked">
        <span class="face-radio-mark"></span>
        <input type="radio" class="face-radio-input" />
    </span>
    <span class="face-radio face-radio--themes-green face-radio--disabled face-radio--checked">
        <span class="face-radio-mark"></span>
        <input type="radio" class="face-radio-input" />
    </span>
	<br/>
	<h1>radio group</h1>
    <h3>default</h3>
    <div class="face-radio-group">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>
	<h3>border</h3>
    <div class="face-radio-group face-radio-group--border">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group face-radio-group--border">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>
    <h3>separate 单用无效组合使用</h3>
    <div class="face-radio-group face-radio-group--separate">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group face-radio-group--separate">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>
    <h3>separate border</h3>
    <div class="face-radio-group face-radio-group--separate face-radio-group--border">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group face-radio-group--separate face-radio-group--border">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>
    <h3>horiz</h3>
    <div class="face-radio-group face-radio-group--horiz">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group face-radio-group--horiz">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>
    <h3>horiz border</h3>
    <div class="face-radio-group face-radio-group--horiz face-radio-group--border">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group face-radio-group--horiz face-radio-group--border">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>
    <h3>horiz border separate </h3>
    <div class="face-radio-group face-radio-group--horiz face-radio-group--border face-radio-group--separate">
	    <label>
		    <span class="face-radio ">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio1</span>
		</label>
		<label>
		    <span class="face-radio face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio2</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled face-radio--checked">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio3</span>
		</label>
		<label>
		    <span class="face-radio face-radio--disabled">
		        <span class="face-radio-mark"></span>
		        <input type="radio" class="face-radio-input" />
		    </span>
		    <span>radio4</span>
		</label>
    </div>
    <div class="face-radio-group face-radio-group--horiz face-radio-group--border face-radio-group--separate">
	    <span class="face-radio ">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled face-radio--checked">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
	    <span class="face-radio face-radio--disabled">
	        <span class="face-radio-mark"></span>
	        <input type="radio" class="face-radio-input" />
	    </span>
    </div>

</body>
</html>
