<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
</head>
<body style="padding:20px;" >
    <div class="face-dropdown" style="width:8em;" >
        <span class="face-dropdown-item">ABC</span>
        <span class="face-dropdown-item">123</span>
        <span class="face-dropdown-item">一二三</span>
        <span class="face-dropdown-item">
            sub
            <span class="face-dropdown-item-swtich fi fi-right"></span>
        </span>
    </div>
</body>
</html>
