<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="./index.less">
    <link rel="stylesheet" href="/face.less" />
    <link rel="stylesheet" href="/components/icons/index.less" />
    <link rel="stylesheet" href="/components/btn/index.less" />
</head>
<body style="padding:20px;background:url(https://unsplash.it/500/800) no-repeat left top;" >
    <div class="face-menu" style="width:10em;" >
        <span class="face-menu-hd">
            Header
            <span class="face-menu-close">
                <span class="fi fi-close"></span>
            </span>
        </span>
        <span class="face-menu-bd">
            <span class="face-menu-bd-item">
                <span class="face-menu-bd-item-check">
                    <span class="fi fi-check"></span>
                </span>
                ABC
            </span>
            <label class="face-menu-bd-item">
                <span class="face-menu-bd-item-checkbox">
                    <input type="checkbox" name="" value="">
                </span>
                123
            </label>
            <span class="face-menu-bd-item">一二三</span>
            <span class="face-menu-bd-item">
                sub
                <span class="face-menu-bd-item-swtich fi fi-right"></span>
            </span>
        </span>
        <span class="face-menu-foot">
            <span class="face-btn face-btn--small">确定</span>
        </span>
    </div>
</body>
</html>
